<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User-Friendly Control Panel</h2>
  </header>
  <div class="grid grid--1x2 container">
    <picture class="block-showcase__picture">
      <source
        type="image/webp"
        srcset="/images/ipad@1x.webp 1x, /images/ipad@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="/images/ipad@1x.png 1x, /images/ipad@2x.png 2x"
      />
      <img class="block-showcase__image" src="/images/ipad.png" alt="" />
    </picture>
    <ul class="list">
      <it>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#clock"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start and Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vel
              voluptate, suscipit libero sunt atque excepturi. Unde nemo quasi
              deleniti.
            </p>
          </div>
        </div>
      </it>
      <it
        ><div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, GIT & WP-CLI</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vel
              voluptate, suscipit libero sunt atque excepturi. Unde nemo quasi
              deleniti.
            </p>
          </div>
        </div>
      </it>
      <it>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vel
              voluptate, suscipit libero sunt atque excepturi. Unde nemo quasi
              deleniti.
            </p>
          </div>
        </div>
      </it>
    </ul>
  </div>
</section>
