<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="A Happy, smiling Customer" />
      <span class="icon-container icon-container--accent icon-container--small">
        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <q class="quote__quotation">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
        ipsum!
      </q>
      <footer class="quote__footer">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Mosh Hamdani</h3>
            <p class="quote__company">MOSH COMPANY ceo</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
